@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using MealRoulette.WebApi.Areas.HelpPage
@using MealRoulette.WebApi.Areas.HelpPage.Models
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ?
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) :
        null;
}

<div class="collapsible-header">
    <p>@Model.Key.ControllerName</p>
</div>

<div class="collapsible-body">
    @if (!String.IsNullOrEmpty(controllerDocumentation))
    {
        <p class="flow-text">@controllerDocumentation</p>
    }
    <table class="bordered">
        <thead>
            <tr>
                <th>API</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var api in Model)
            {
                <tr>
                    <td>
                        <a class="flow-text" href="@Url.Action("Api", "Help", new { apiId = api.GetFriendlyId() })">@api.HttpMethod.Method @api.RelativePath</a>
                    </td>
                    <td>
                        @if (api.Documentation != null)
                        {
                            <p class="flow-text">@api.Documentation</p>
                        }
                        else
                        {
                            <p class="flow-text">No documentation available.</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
