@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using MealRoulette.WebApi.Areas.HelpPage
@using MealRoulette.WebApi.Areas.HelpPage.Models
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ?
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) :
        null;
}

<h3>@Model.Key.ControllerName</h3>

@if (!String.IsNullOrEmpty(controllerDocumentation))
{
    <p class="">@controllerDocumentation</p>
}
<table class="highlight">
    <thead>
        <tr>
            <th>API</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var api in Model)
        {
            <tr>
                <td>
                    <a class="btn" href="@Url.Action("Api", "Help", new { apiId = api.GetFriendlyId() })">@api.HttpMethod.Method @api.RelativePath</a>
                </td>
                <td>
                    @if (api.Documentation != null)
                    {
                        <p class="">@api.Documentation</p>
                    }
                    else
                    {
                        <p class="">No documentation available.</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
