<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        @Html.Partial("_Navigation")
    </header>
    <main>
        <div class="container valign-wrapper" id="loader">
            <div class="progress center-align">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div id="contentWrapper" style="display:none">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    © 2018 Meal Roulette
                    <ul class="right">
                        <li>@Html.ActionLink("{{lblContact}}", "Contact", "Home", new { area = "" }, new { @class = "grey-text text-lighten-4" })</li>
                        <li>@Html.ActionLink("{{lblApi}}", "Index", "Help", new { area = "" }, new { @class = "grey-text text-lighten-4" })</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal" id="CookiePopup">
        <div class="modal-content">
            <h4>{{lblCookiesDisclaimerHeader}}</h4>
            <p>{{lblCookiesDisclaimerDescription}}</p>
        </div>
        <div class="modal-footer">
            <a id="btnAcceptCookies" class="modal-action waves-effect waves-green btn-flat">{{lblCookiesDisclaimerAccept}}</a>
        </div>
    </div>

    @Scripts.Render("~/content/js/jquery")
    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", required: false)
</body>
</html>
