<ul id="mealsDropdown" class="dropdown-content">
    <li>@Html.ActionLink("Meals", "Index", "Meal", new { area = "" }, new { @class = "waves-effect waves-light" })</li>
    <li>@Html.ActionLink("Create", "Create", "Meal", new { area = "" }, new { @class = "waves-effect waves-light" })</li>
</ul>
<ul id="mobileMealsDropdown" class="dropdown-content">
    <li>@Html.ActionLink("Go to Meals", "Index", "Meal", new { area = "" }, new { @class = "waves-effect waves-light" })</li>
    <li>@Html.ActionLink("Create Meal", "Create", "Meal", new { area = "" }, new { @class = "waves-effect waves-light" })</li>
</ul>

<nav class="light-blue">
    <div class="nav-wrapper">
        @Html.ActionLink("Meal Roulette", "Index", "Home", new { area = "" }, new { @class = "center brand-logo" })
        <a data-target="sideNav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="hide-on-med-and-down">
            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "waves-effect waves-light" })</li>
            <li>@Html.ActionLink("Meals", "Index", "Meal", new { area = "" }, new { @class = "waves-effect waves-light dropdown-button", @id = "desktopMealNavDropdown", @data_target = "mealsDropdown" })</li>
            <li>@Html.ActionLink("Meal Roulette", "Index", "MealRoulette", new { area = "" }, new { @class = "waves-effect waves-light" })</li>
        </ul>

        <ul class="sidenav" id="sideNav">
            <li>@Html.ActionLink("Meals", "Index", "Meal", new { area = "" }, new { @class = "waves-effect waves-light dropdown-button", @id = "mobileNavDropdown", @data_target = "mobileMealsDropdown" })</li>
            <li>@Html.ActionLink("Meal Roulette", "Index", "MealRoulette", new { area = "" }, new { @class = "waves-effect waves-light" })</li>
        </ul>

        <form class="right hide-on-small-and-down">
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

@section scripts{
    <script src="~/Content/js/InitializeMaterializeComponents.js"></script>
}